[Desktop Entry]
Type=Application
Name=lilydumper
Exec=lilydumper -i %F
Icon=lilydumper
Comment=generates music sheets suitable to use with lilyplayer
Terminal=true
